<div class="company" *ngIf="data=='santander'">

  <h1>Santander</h1>
  <div class="row">
    <div>
      <h5>During my time at Santander Bank, I served as a front-end developer in an agile cell, where I worked extensively with technologies such as Ionic and Angular.</h5>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul style="text-align: left;">
        <div><b>Some of my key responsibilities included:</b></div>
        <li>Developing responsive user interfaces that delivered seamless experiences across multiple devices.</li>
        <li>integrating applications with different APIs to ensure that they functioned seamlessly and provided relevant data to users.</li>
        <li>Implementing Google Analytics tags to track user interactions and gain insights into the application's performance.</li>
        <li>Generating APK and IPA files for Android and iOS applications, respectively, and deploying them to production.</li>
        <li>Conducting extensive testing on different devices, including iPhones and Androids, to identify and fix any defects that were discovered.</li>
        <li>Requesting ethical hacking and performance testing of the applications to ensure that they were secure and performed optimally under different conditions.</li>
        <li>Collaborating with architects in meetings to gain insights into the project's technical requirements and plan accordingly.</li>
        <li>Leading a small team of developers, guiding them in the implementation of best practices and ensuring that deadlines were met.</li>
      </ul>
      <h5 style="margin-top:10px"><b>Overall, my experience at Santander Bank gave me the opportunity to work on high-impact projects and develop my technical and leadership skills in a fast-paced, dynamic environment.</b></h5>
    </div>
  </div>
  <button class="btn btn-primary"  (click)="seeProjects()">See projects</button>
</div>
<div class="company" *ngIf="data=='bcChile'">
  <h1>Banco de Chile</h1>
  <div class="row">
    <div>
      <h5>During my time at Banco de Chile, I worked as a front-end developer in an agile cell, where I leveraged technologies such as Angular, AngularJS, and Node to deliver high-quality solutions.</h5>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul style="text-align: left;">
        <div><b>As a key contributor, I was responsible for a range of tasks, including:</b></div>
        <li>Developing responsive user interfaces that delivered seamless experiences across multiple devices, resulting in improved customer engagement and satisfaction.</li>
        <li>Integrating applications with different APIs to ensure they functioned seamlessly and provided relevant data to users, which enhanced the overall user experience.</li>
        <li>Collaborating with architects in meetings to gain insights into the project's technical requirements and plan accordingly, enabling successful project delivery and customer satisfaction.</li>
        <li>Developing APIs in Node that consumed other APIs, and identifying and resolving SonarLint issues, ensuring that the applications were stable and performing optimally.</li>
        <li>Deploying the Angular and Node applications, which enabled efficient and effective utilization of technology in the bank's operations.</li>
        <li>Updating deprecated libraries from different projects, ensuring that the applications were using the latest technologies and best practices.</li>
      </ul>
      <h5 style="margin-top:10px"><b>Overall, my experience at Banco de Chile allowed me to work in one of the biggest banks in Chile and gain valuable experience in delivering high-quality solutions using cutting-edge technologies.</b></h5>
    </div>
  </div>
</div>
<div class="company" *ngIf="data=='cardif'">
  <h1>BNP Paribas Cardif</h1>
  <div class="row">
    <div>
      <h5>During my time at BNP Paribas Cardif, I worked as a full-stack developer in an agile cell, where I leveraged technologies such as Angular, Spring boot and MongoDB to deliver high-quality solutions.</h5>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul style="text-align: left;">
        <div><b>As a key contributor, I was responsible for a range of tasks, including:</b></div>
        <li>Developing responsive user interfaces that delivered seamless experiences across multiple devices, resulting in improved customer engagement and satisfaction.</li>
        <li>Integrating applications with different APIs to ensure they functioned seamlessly and provided relevant data to users, which enhanced the overall user experience.</li>
        <li>Collaborating with architects in meetings to gain insights into the project's technical requirements and plan accordingly, enabling successful project delivery and customer satisfaction.</li>
        <li>Developing APIs in Java Spring boot that consumed other APIs, and identifying and resolving SonarLint issues, ensuring that the applications were stable and performing optimally.</li>
        <li>Deploying the Angular and Java Spring boot applications, which enabled efficient and effective utilization of technology in the bank's operations.</li>
        <li>Implementing Google Analytics tags to track user interactions and gain insights into the application's performance.</li>
      </ul>
      <h5 style="margin-top:10px"><b>During my time at Cardif, I had an exceptional opportunity to grow professionally by working alongside experienced architects who willingly shared their knowledge with me. Their mentorship proved invaluable as I tackled complex projects, applying the skills and best practices that I learned from them. Their guidance and support helped me achieve significant milestones in my work, and I am grateful for the chance to learn from them. Overall, my experience at Cardif was a catalyst for my professional growth and development, and it helped me become a more skilled and knowledgeable professional.</b></h5>
    </div>
  </div>
  <button class="btn btn-primary"  (click)="seeProjects()">See projects</button>
</div>
<div class="company" *ngIf="data=='alma'">
  <h1>Alma Its</h1>
  <div class="row">
    <div>
      <h5>During my time at Alma, I had the privilege of spearheading projects from their inception. I was involved in the decision-making process for the technologies we would use, as well as selecting the servers on which our developments would be deployed. This experience exposed me to the critical aspects of server configuration, the significance of layering, the development of libraries and repositories, and most importantly, it provided me with a comprehensive introduction to working in a professional development environment.</h5>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul style="text-align: left;">
        <div><b>As a key contributor, I was responsible for a range of tasks, including:</b></div>
        <li>I have successfully created responsive views using JSF and Bootstrap.</li>
        <li>I have expertise in the creation and consumption of microservices in Java, which has been beneficial in building scalable and distributed applications.</li>
        <li>Collaborating with architects in meetings to gain insights into the project's technical requirements and plan accordingly, enabling successful project delivery and customer satisfaction.</li>
        <li>Developing APIs in Java, and identifying and resolving SonarLint issues, ensuring that the applications were stable and performing optimally.</li>
        <li>I possess extensive knowledge in PostgreSQL database creation and querying.</li>
        <li>I have experience in installing a git server inside a Docker container</li>
        <li>I have experience in administering and installing WildFly server, which has enabled me to set up and manage robust application environments.</li>
      </ul>
      <h5 style="margin-top:10px"><b>Overall, my experience at Alma allowed me to grow as a professional Java full stack developer, gain a deeper understanding of repositories, Git, servers, agile methodology, and full-stack development.</b></h5>
    </div>
  </div>
</div>
<div class="company" *ngIf="data=='mundoCredito'">
  <h1>Mundo Credito</h1>
  <div class="row">
    <div>
      <p>During my time at NW, I had the privilege of working for one of their most important clients, Mundo Credito. As part of this engagement, I worked on developing an application for companies that sell cars. This application enabled customers to create simulations of car credits, manage branch offices, track staff, generate reports, and much more.</p>

        <p>Working on this project was a significant milestone in my career as a developer. I had the opportunity to work closely with the client to understand their needs and develop solutions that met their specific requirements. This experience helped me to develop a deeper understanding of the importance of client collaboration, project planning, and effective communication.</p>

        <p>Overall, I am proud to have been part of this project and to have contributed to the success of the application. It was an invaluable experience that helped me to develop my skills and provided me with a solid foundation for my future career as a developer.</p>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul style="text-align: left;">
        <div><b>As a highly valued contributor to the team, I took on a diverse range of responsibilities, including:</b></div>
        <li>Developing responsive views using AngularJS and Bootstrap, to enhance the user experience and improve the website's functionality.</li>
        <li>Designing and implementing microservices using Spring, to optimize the performance and scalability of our system.</li>
        <li>Developing efficient procedures for reading, inserting, and updating information from the PostgreSQL database, ensuring data integrity and accuracy.</li>
        <li>Creating insightful reports and graphics that provided valuable insights into the performance of our website and helped to inform key business decisions.</li>
        <li>Generating PDFs for legal documentation, ensuring compliance with industry standards and regulatory requirements.</li>
        <li>Developing an Ionic app that enabled users to access the Angular website on the go, improving accessibility and convenience for our customers.</li>
      </ul>
      <h5 style="margin-top:10px"><b>My experience at Mundo Credito was truly invaluable, as it provided me with the opportunity to launch my career as a full-stack developer. Throughout my time with the company, I gained hands-on experience in a wide range of areas, including front-end development with technologies like AngularJS and Bootstrap, back-end development with Spring, and database management with PostgreSQL. I was also able to contribute to important projects, such as the creation of microservices and reports, as well as the development of an Ionic app. The skills and knowledge I gained during my time at Mundo Credito have been instrumental in my professional development, and I am grateful for the experience and growth that I achieved while working with such a talented and supportive team.</b></h5>
    </div>
  </div>
</div>
