<mat-toolbar class="header">
  <div>
    <span>Diego Full Stack</span>
  </div>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div [ngClass]="style">
  <div class="style">
    <img matTooltip="Change Style" src="/assets/angular-icon.svg" (click)="setStyle('angular')">
    <img matTooltip="Change Style" src="/assets/spring-icon.svg" (click)="setStyle('spring')">
    <img matTooltip="Change Style" src="/assets/Postgresql_elephant.svg" (click)="setStyle('postgre')">
  </div>
  <div class="content">
    <div class="row">
      <div class="text col-md-4 col-xs-12">
        <h1 i18n>Welcome!!!</h1>
        <h2 i18n>I'm Diego </h2>
        <h3 i18n>I'm a Full stack developer with a strong focus in th e front</h3>
      </div>
      <div class=" col-md-8 col-xs-12">
        <img class="face" src="assets/IMG_20230224_121843.jpg">
      </div>
    </div>
    <div class="row">
      <h1 i18n>Technology stack</h1>
      <div class="technologystack">
        <img *ngFor="let item of technologyStack" src="{{item.img}}" matTooltip="{{item.name}}">
      </div>
    </div>
    <div class="row">
      <h1 i18n>Laboral Experience</h1>

    </div>

  </div>

</div>
